.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loading img {
  width: 125px;
  animation-name: loading-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-play-state: paused;
}

.loading img:hover {
  animation-play-state: running;
}

.page h1 {
  text-align: center;
  animation-name: title-highlight;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  /* Para controlar o andamento de uma animação */
  animation-play-state: paused;
}

.page h1:hover {
  animation-play-state: running;
}



.page {
  padding: 20px;
  animation-name: page-animation;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/* Criar animações, é similar a criar funções no JS */
@keyframes loading-animation {
  /* Aqui devemos enxergar os elementos como em uma cena de teatro. */
  from {
    /* Ponto de partida */
    transform: rotate(0deg);
    filter: hue-rotate(180deg);
    width: 125px;
  }
  to {
    /* Para aonde eu vou */
    transform: rotate(360deg);
    filter: hue-rotate(0deg);
    width: 300px;
  }
}

@keyframes page-animation {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes title-highlight {
  from {
    transform: scale(1);
    font-weight: 400;
  }
  to {
    transform: scale(1.5);
    font-weight: bold;
  }
}

/* 
@media screen and (max-width: 600px) {
  .loading img {
    animation-name: page-animation;
    animation-duration: 1s;
  }
} */
